h1{
	font-family:Arial;
	color:#0E86F1;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px darkred;
}
p{
	text-indent: 25px;
	color: Lightgrey;
}
span{
	font-variant: small-caps;
	font-weight: Arial;
	text-shadow: 2px 2px 3px #E7B300;
	color: lightgrey;
}
#external{
	text-shadow: 2px 2px 5px lightsteelblue;
	color: lightgrey;
}
body{
	background:#9B8C8C;
}


